@import "styles/settings.scss";

.header {
  background: $color-dark;
  padding: $base-unit * 0.9 0;
  color: $color-light;

  @include max-media($br-tablet) {
    text-align: center;
  }

  .container {
    @extend%container;

    .icon {
      height: 100%;
      margin-right: $base-unit;
      font-size: $base-unit * 1.2;
    }

    .title {
      font-family: $font-header;
      text-transform: lowercase;
      font-size: $base-unit * 0.9;
    }
  }
}
